@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");
@import url("https://fonts.googleapis.com/css?family=Alata&display=swap");
@import "reset.css";
@import "input.css";
@import "detail.css";
@import "btn.css";

* {
  box-sizing: border-box;
}

body {
  font-family: "Alata", sans-serif;
  background-color: #f7f5ff;
  height: 100%;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.phone {
  background-color: #fcfbfd;
  padding: 0;
  margin: 20px;
  height: 600px;
  width: 300px;
  border-radius: 40px;
  box-shadow: 20px 20px 20px 0 #b7bec9, inset -1px -1px 5px 4px #f1f2f5;
}

.phone .phone__screen {
  width: 280px;
  height: 580px;
  border-radius: 40px;
  padding: 20px;
  margin: 15px;
  background-color: #f9f9f9;

  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  flex-direction: column;

  padding-bottom: 60px;
}

.phone .screen__head {
  width: 160px;
  height: 30px;
  background-color: #fcfbfd;
  margin-top: -30px;
  border-radius: 0 0 10px 10px;
}

.r-txt,
.n-txt {
  font-size: 10px;
}

.r-txt {
  color: #de2336;
}

.n-txt {
  color: #9b9b9b;
}
