@import url("https://fonts.googleapis.com/css?family=Ubuntu:400,700&display=swap");
@import "status-bar.css";
@import "reset.css";
@import "img.css";
@import "tag.css";
@import "main.css";
@import "nav-bar.css";

* {
  box-sizing: border-box;
}

body {
  font-family: "Ubuntu", sans-serif;

  background-color: #e9ebef;
  height: 100%;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.phone {
  /* background-color: #ffffff; */
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.1) 30%,
      #f1f2f6 40%,
      #fff
    ),
    url("main-photo.png");

  height: 600px;
  width: 300px;
  border-radius: 40px;
  padding: 15px 30px 15px 30px;
  /* display: flex;
  align-items: center;
  flex-direction: column; */
}

.r-txt,
.n-txt {
  font-size: 10px;
}

.r-txt {
  color: #de2336;
}

.n-txt {
  color: #9b9b9b;
}
