body,
html {
  padding: 0;
  margin: 0;
  height: 1500px;
  background-color: white;
}
.wrapper {
  display: flex;
  height: 1500px;
  width: 100%;
  margin: 0;
  padding: 0;
}
.redbox {
  background-color: salmon;
  height: 100px;
  width: 100%;
  position: fixed;
}
.bluebox {
  background-color: skyblue;
  height: 100%;
  width: 70%;
  color: white;
  margin-top: 100px;
}
._title {
  font-size: 40px;
  padding: 50px;
}
.yellowbox {
  margin-top: 100px;
  background-color: yellow;
  height: 100%;
  width: 30%;
  border: 5px solid grey;
}
.greenbox {
  height: 30px;
  width: 70px;
  background-color: lightgreen;
  position: absolute;
  top: 85px;
  left: 65%;
}
