.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px 30px;
}

.product .product__img {
  height: 330px;
  width: 440px;
}

.product .product__price {
  margin-right: 200px;
}

.product .product__reviews {
  margin-left: 10px;
  opacity: 0.5;
}

i {
  color: #ffd20f;
}
